.title {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
/* Ajoute un padding sur l'ensemble du contenu du profil et le contour est verts */
.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main .one {
    transform: rotate(-35deg);
    height: 35vh;
}
.main .two {
    transform: rotate(35deg);
    height: 35vh;
}
.Profil-Main {
    background-color: hwb(0 97% 3%);
    box-shadow: 3px 3px;
    border: solid 1px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.Email, .UserName, .Gender, .BirthDate {
    width: 100%;
    border-bottom: solid 2px #96E9D5;
}
.BirthDate, .Gender {
    margin-left: 10px;
    width: 100%;
}
.Email, .UserName {
    margin-right: 10px;
    width: 100%;
}


.mid-Buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-Del, .button-Dec {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-Del form, .button-Dec form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Modifie les boutons verts */
.button {
    width: 50%;
    height: 54px;
    border-radius: 25px;
    background-color: #96E9D5;
    align-items: center;
    text-align: center;
    border: solid 1px; 
    box-shadow: 3px 3px;
    font-size: 20px;
    margin-top: 10vh;
}
.button:hover {
    background-color: #147760;
}
.button:active, .buttonD:active {
    box-shadow: 0px 0px;
}

.bot-Buttons-Container, .bot-button-one form, .bot-button-two form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bot-button-one, .bot-button-two {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Modifie le bouton pour se désinscrire */
.buttonD {
    border-radius: 25px;
    background-color: #E84855;
    border: solid 1px;
    width: 70%;
    height: 54px;
    box-shadow: 3px 3px;
    font-size: 20px;
}

.buttonD:hover {
    background-color:#B3001B;
}

.show-nav .main-container {
    display: none;
}