h1 {
    margin-top: 5vh;
    text-align: center;
}

.table {
    text-align: center;
    border-color: #95e9d5;
}

tr {
    border: 1px solid black;
    border-radius: 25px;
}

td {
    border: 1px solid black;
}
.pagination {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.page-button {
    font-size: 25px;
    border: solid #95e9d5;
    width: 50px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #78a79c;
    box-shadow: 2px 2px #95e9d5;
}
.page-button i {
    font-size: 28px;
    padding: 5px;
}
.active .page-button {
    background-color: #95e9d552;
    color: #78a79c;
    box-shadow: none;
    cursor: default;
}
.page-button:hover {
    background-color: #95e9d552;
    color: #78a79c;
    box-shadow: 0px 0px;
}
.show-nav .container{
    display: none;
}

.sort-button {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: black solid 1px;
    border-radius: 10px;
}

.sort-button:hover {
    background-color: #95e9d5;
}

.sort-button:active {
    background-color: #67a093;
}

.center-emoji {
    padding-top: 5%;
}

.center-description {
    padding-top: 2%;
}