* {
    margin: 0px;
    padding: 0px;
}

p {
    margin-bottom: 0%;
}

.contain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10vh;
    gap: 150px;
}

#time {
    font-size: 128px;
}

.humeurs-container {
    border: solid #95E9D5;
    border-radius: 25px;
    padding-left: 15px;
    display: flex;
    width: 70%;
    
}

.humeurs-liste {
    font-size: 25px;
    margin: 5px;
    border: 0;
    outline: 0;
    width: 80%;
}

#smiley {
    border: 0;
    border-left: solid #95E9D5;
    border-right: solid #95E9D5;
    font-size: 25px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    width: 10%;
    text-align: center;
}

.bouton-envoyer {
    background-color: #95E9D5;
    border: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 10%;
}