h1 {
    font-size: 1.75em;
    text-align: center;
}

body {
    background-image: url("../images/background.png");
    margin: 0 auto;
}

.texteInscription {
    text-align: center;
    font-size: 1.3em;
}

a:link {
    color:#95e9d5;
}

a:visited {
    color: #95e9d5;
}