@media (min-width:750px) and (max-width:970px){
    body .space {
        margin-left: 0px;
    }
    body header div {
        width: 25%;
        justify-content: center;
    }
    body .logo {
        margin-left: 0%;
    }
}
@media (max-width:750px) {
    body .burger-menu {
        display: inline-flex;
        padding: 0px 25px;
    }
    body .hovered {
        display: none;
    }
    body .logo {
        margin-left: 0%;
        margin: auto;
    }
}

header {
    background-color: #95E9D5;
    display: flex;
    font-size: 20px;
}
.logo {
    height: 70px;
    margin-left: 1%;
}
header div {
    display: flex;
    align-items: center;
}
.hovered:hover {
    background-color: #147760;
}
.space {
    margin-left: auto;
}
.hovered {
    padding: 0px 20px;
}
.burger-menu {
    display: none;
}