.header-bar {
    background-color: #95E9D5;
    font-size: 20px;
}
.LOGO {
    width: 20%;
    margin-left: 1%;
}
.header-hover:hover {
    background-color: #147760;
}

.header-bar div {
    height: 70px;
}