* {
    margin: 0px
}

table {
    text-align: center;
    border-color: #95e9d5;
    width: 100%;
    height: 92.5vh;
}
.title {
    height: 10%;
}
td.mid-const-part, td.top-const-part, td.bot-const-part {
    border-left: solid 5px;
    border-bottom: solid 1px;
}

td.mid-float-part, td.top-float-part, td.bot-float-part {
    border-bottom: solid 1px;
}
.top-float-part {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top-float-part .date-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-float-part .date-selector input, select {
    border-radius: 25px;
    background-color: rgb(165, 164, 164);
    border: solid 1px;
    padding: 5px;
}
select, .button {
    margin-top: 24px;
}
.bouton {
    margin-top: 24px;
}
.smiley {
    width: 100%;
    height: 30vh;
    font-size: 20vh;
}
.mid-const-part {
    width: 50%;
    height: 25vh;
}